.ant-carousel .slick-slide {
  text-align: center;
  height: 66vh;
  line-height: 66vh;
  /* background: #364d79; */
  overflow: hidden;
}

.ant-carousel .slick-slide .carousel-item h3 {
  /* color: #fff; */
}
